@charset "utf-8";
/* CSS Document */

body{
margin:0px 0px 0px 0px;
padding:0px;
background:#eeedeb;
}
#containerr{
margin:0 auto;
width:auto;
height:auto;	
}
#head{
width:1300px;
margin:0px 0px 0px 0px;
height:auto;	
	
}
#head1{
float:left;
width:1300px;
margin:0px 0px 0px 0px;	
}
#head2{
float:left;
width:500px;
margin:20px 0px 0px 150px;	
}
#head2 img{
	float:left;
margin:0px 20px 0px 0px;	
}

#hd{
float:left;
width:500px;
margin:0px 0px 0px 0px;	
}
#hd img{
	float:left;
margin:0px 20px 0px 0px;	
}
#hd p{
margin:12px 0px 0px 0px;
float:left;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:30px;	
color:#333;
text-shadow: 0 1px 0 #90ce13;
}
#hd2{
float:left;
width:500px;
margin:0px 0px 0px 0px;	
}
#tab{
margin:10px 0px 0px 0px;
font-family:Verdana, Geneva, sans-serif;
font-size:13px;
color:#000;	
border:#c7301b;
text-shadow: 0 1px 0 #009ddc;
}
#hd3{
float:left;
width:500px;
margin:10px 0px 0px 0px;	
}
#hd3 img{
	float:left;
margin:0px 20px 0px 0px;	
}
#hd3 p{
margin:12px 0px 0px 0px;
float:left;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:20px;	
color:#cf361d;
text-shadow: 0 1px 0 #009ddc;

}

#hd4{
float:left;
width:500px;
margin:10px 0px 50px 0px;	
}
#hd4 img{
	float:left;
margin:0px 20px 0px 0px;	
}
#hd4 p{
margin:12px 0px 0px 0px;
float:left;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;	
color:#333;

}
#head3{
float:right;
width:600px;
margin:0px 0px 0px 0px;	
}
#head4{
float:left;
width:400px;
height:540px;
margin:0px 0px 0px 60px;
background:#009ddc;	
box-shadow: 5px 5px 5px #9c9c9c;
}
#hed{
float:left;
width:400px;
margin:0px 0px 0px 0px;	
}
#hed p{
margin:35px 0px 0px 60px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:21px;
color:#ecf7fc;	
	
}

#hed2{
float:left;
width:400px;
margin:0px 0px 0px 0px;	
}
#hed2 p{
margin:10px 0px 10px 62px;
font-family:Verdana, Geneva, sans-serif;
font-size:14px;
color:#ecf7fc;	
	
}

#hed3{
float:left;
width:400px;
margin:0px 0px 0px 0px;	
}
#hed3 p{
margin:10px 0px 0px 60px;
	
	
}
#nam{
	margin:07px 0px 0px 0px;
	border-radius:5px;
width:275px;
height:34px;
box-shadow: -2px 2px 02px #ccc;
border:1px solid #CCC;
font-family:Tahoma, Geneva, sans-serif;
font-size:14px;
color:#666;
}
#nam5{
	margin:07px 0px 0px 0px;
	border-radius:5px;
width:275px;
height:34px;
box-shadow: -2px 2px 02px #ccc;
border:1px solid #CCC;
background:#c3e5f7;
}
#nam6{
	margin:07px 0px 0px 0px;
	border-radius:5px;
width:275px;
height:34px;
box-shadow: -2px 2px 02px #ccc;
border:1px solid #CCC;

color:#666;
}

#nam7{
	margin:12px 0px 0px 0px;
width:275px;
height:36px;
box-shadow: -2px 2px 02px #047fb4;
border:1px solid #047fb4;
background:#0369a3;
color:#fff;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:16px;
text-shadow: 01px 1px 0 #009ddc;
cursor:pointer;
}